html{
  height: 100%;
  margin: 0;
}
body{
  background-color: #5E9786;
  margin: 0;
}
h1{
  font-size: 100px;
}
p2{
  color: white;
}
p4{
  color: white;
}
p6{
  color: white;
}
p7{
  color: white;
}
.li1{
  display: block;
}
.active{
  background-color: #167603;
  display: block;
}
.li1:hover:not(.active){
  background-color: #EA0303;
  color: white;
}
.b{
  background-image: url('http://saintpierre.delareunion.net/files/2012/02/iut-reunion.jpg');
}
.bloc{
  text-align: center;
  background-color: #619AC0;
  opacity: 0.75;
  height: 100px;

}
.bloc1{
  text-align: center;
  width:40%;
  background-color: #298B42;
  margin-left: 28%;

}

.bloc2{
  text-align: center;
  margin-left: 50px;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #61C08D;
  width: 16%;
  overflow: auto;
  float: left;
}
.bloc3{
  text-align: center;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #61C08D;
  width: 16%;
  overflow: auto;
  float: left;
}
.bloc4{
  text-align: center;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #61C08D;
  width: 16%;
  overflow: auto;
  float: left;
}
.bloc5{
  text-align: center;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #61C08D;
  width: 16%;
  overflow: auto;
  float: left;
}
.bloc6{
  text-align: center;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #61C08D;
  width: 16%;
  overflow: auto;
}
.bloc0{
  margin-left: 39%;
}
.bloc7{
  text-align: center;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  width: 30%;
  overflow: auto;
  margin-left: 30.5%;
}
.bloc8{
  text-align: center;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  width: 32%;
  overflow: auto;
  color: white;
  margin-left: 30.5%;
  background-color: #619AC0;
  opacity: 0.75;
}
.bloco{
  margin-left: 29%;
  width: 40%;
}
.pp{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  color: white;
}
.p{
  text-align: center;
  width:40%;
  background-color: #298B42;
  margin-left: 28%;
  font-size: 25px;
  font-weight: bold;
}
.p1{
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}
.p2{
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
.p3{
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
.pho{
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  text-align: center;
}
.phot{
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  text-align: center;
}
.pdf{
  width: 99.7%;
  height: 400px;
}
.pdf2{
  width: 99.7%;
  height: 450px;
}
.pdf3{
  width: 99.7%;
  height: 450px;
}
.pdf4{
  width: 99.7%;
  height: 450px;
}
.pdf5{
  width: 99.7%;
  height: 450px;
}
.table1{
  width: 60%;
  margin-left: 20%;
}
.table2{
  width: 33%;
}
.table3{
  width: 33%;
}
.table4{
  width: 33%;
}
.foot{
  text-align: center;
  color: white;
}
