html{
  height: 100%;
  margin: 0;
}
body{
  background-color: #5E9786;
  margin: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 21px;
}
p2{
  color: white;
}
p4{
  color: white;
}
p6{
  color: white;
}
p7{
  color: white;
}
.li1{
  display: block;
}
.active{
  background-color: #5CAF1C;
  display: block;
}
.li1:hover:not(.active){
  background-color: #F2AB06;
  color: white;
}
.b{
  background-image: url('http://saintpierre.delareunion.net/files/2012/02/iut-reunion.jpg');
}
.bloc{
  text-align: center;
  background-color: #619AC0;
  opacity: 0.75;
  height: 50px;

}
.bloc1{
  text-align: center;
  width:50% ;
  background-color: #298B42;
  margin-left: 27%;

}

.bloc2{
  text-align: center;
  margin-left: 50px;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #61C08D;
  width: 80%;
  overflow: auto;
}
.bloc3{
  text-align: center;
  margin-left: 50px;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #61C08D;
  width: 80%;
  overflow: auto;
}
.bloc4{
  text-align: center;
  margin-left: 50px;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #61C08D;
  width: 80%;
  overflow: auto;
}
.bloc5{
  text-align: center;
  margin-left: 50px;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #61C08D;
  width: 80%;
  overflow: auto;
}
.bloc6{
  text-align: center;
  margin-left: 50px;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  background-color: #61C08D;
  width: 80%;
  overflow: auto;
}
.bloc0{
  margin-left: 32%;
}
.bloc7{
  text-align: center;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  width: 70%;
  overflow: auto;
  margin-left: 10%;
}
.bloc8{
  text-align: center;
  border-width: 1px;
  border-style: solid ;
  border-color: black;
  width: 65%;
  overflow: auto;
  color: white;
  margin-left: 14%;
  background-color: #619AC0;
  opacity: 0.75;
}
.bloco{
  margin-left: 20%;
  width: 60%;
}
.pp{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  color: white;
}
.p{
  text-align: center;
  width:50%;
  background-color: #298B42;
  margin-left: 28%;
  font-size: 20px;
  font-weight: bold;
}
.p1{
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
}
.p2{
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
.p3{
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
.pho{
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  text-align: center;
}
.phot{
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  text-align: center;
}
.pdf{
  width: 99.4%;
  height: 400px;
}
.pdf2{
  width: 99.4%;
  height: 450px;
}
.pdf3{
  width: 99.4%;
  height: 450px;
}
.pdf4{
  width: 99.4%;
  height: 450px;
}
.pdf5{
  width: 99.4%;
  height: 450px;
}
.table1{
  width: 60%;
  margin-left: 20%;
}
.table2{
  width: 32%;
  margin-left: 1%;
}
.table3{
  width: 32%;
}
.table4{
  width: 32%;
}
.foot{
  text-align: center;
  color: white;
  font-size: 15px;
}
